body {
	background: linear-gradient(135deg, #2c3e50 0%, #4b6cb7 100%);
}
.glass-container {
	animation:flotar 2s linear infinite alternate;
}

@keyframes flotar {
	to{ 
		margin-top: 0.6vh;
 }
}
.burbujas div {

 	background: linear-gradient(135deg, #ebeffe 0%, #b9c6ee 100%);
 	border-radius: 100%;
 	position: absolute;
 	bottom: 0;
 	animation: animarburbujas 4s linear  infinite;
}
.burbujas div:nth-child(1){
	width: 50px;
 	height: 45px;
 	left: 0%;
 	animation-duration: 5.5s;
}
.burbujas div:nth-child(2){
	width: 60px;
 	height: 55px;
 	left: 20%;
 	animation-duration: 8s;

}
.burbujas div:nth-child(3){
	width: 30px;
 	height: 27px;
 	left: 10%;
 	animation-duration: 5s;
}
.burbujas div:nth-child(4){
	width: 65px;
 	height: 60px;
 	left: 90%;
 	animation-duration: 10s;
}
.burbujas div:nth-child(5){
	width: 55px;
 	height: 50px;
 	left: 80%;
 	animation-duration: 6.5s;
}
.burbujas div:nth-child(6){
	width: 65px;
 	height: 52px;
 	left: 85%;
 	animation-duration: 7s;
}
.burbujas div:nth-child(7){
	width: 60px;
 	height: 72px;
 	left: 90px;
 	animation-duration: 6s;
}
.burbujas div:nth-child(8){
	width: 60px;
 	height: 72px;
 	left: 95%;
 	animation-duration: 6s;
}
@keyframes  animarburbujas {
	0%{
		width: 0;
		height: 0;
	}
	3%{
		width: 30px;
		height: 27px;
	}
	50%{
		margin-left: 10px;
		opacity: 0.5;
	
	}
	100%{
		transform: rotate(90deg);
		bottom: 100vh;
		
	}
}